import React from 'react';
<% if (validation) {%>import PropTypes from 'prop-types';<%}%>
<% if (dva) { %>import { connect } from 'dva';<% } %>
import styles from './<%=css%>';
<% let newName = pageName.substring(0, 1).toUpperCase() + pageName.substring(1);%>
function <%= newName %>(props) {
    <% if (dva) {%>const { <%= pageName %> } = props;
    const { text } = <%= pageName %>;<% } %>
    return (
        <div className={styles.container}>
            hello <%= pageName %>
            <% if (dva) {%>{text}<% } %>
        </div>
    );
}

<% if (validation) {%><%= newName %>.propTypes = {
    <% if (dva) {%><%= pageName %>: PropTypes.shape({}),<%}%>
};
<%= newName %>.defaultProps = {
    <% if (dva) {%><%= pageName %>: {},<%}%>
};<%}%>
<% if (dva) { %>
export default connect(({ <%= pageName %> }) => ({
    <%= pageName %>,
}))(<%= newName %>);<% } else {%>
export default <%= newName %>;
<% }%>
